<h2 class="city">
  Weather in {{name}}
</h2>
<h1 class="temp">
  {{temp}}°C
</h1>
<div class="flex">
  <img src="https://openweathermap.org/img/wn/{{weath.icon}}.png" alt="{{weath.description}}" class="icon" />
  <div class="description">
    {{weath.description}}
  </div>
</div>
<div class="humidity">
  Humidity: {{humidity}}%
</div>
<div class="wind">
  Wind speed: {{speed}}km/h
</div>
